# Port for the Express server
PORT=5000

# MongoDB Atlas connection string (e.g. mongodb+srv://<username>:<password>@cluster0.mongodb.net/song-app?retryWrites=true&w=majority)
MONGODB_URI=mongodb://localhost:27017/song-app

# Environment
NODE_ENV=production
